header {
    background-color: white;
    color: black;  
    border: #cccccc;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border-bottom-style: solid;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    border-top-style: solid;
    border-color: teal;
    color: white;
    text-align: center;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    height: 50px;
    border-width: thick;
}