body {
    width: 960px;
    margin: auto;
    background-image: url("email-pattern.png");
}

header {
    background-color: white;
    color: black;  
    border: #cccccc;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border-bottom-style: solid;
}

h2 {
    color: white;
    background-color: teal;
    padding: 30px 40px;
    margin: 0
}

.logo {
    float:left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
  }
  
ul.float-nav {
      float: right;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }  

li {
    display: inline;
    border-right: 1px solid black;
}

li a {
    padding: 8px;
    background-color: white;
    border-width: thin;
    text-decoration: none;
  }

section {
    background-color: white;
    padding: 0 50px;
    margin-top: 25px;
}
section > .top-bar {
    width: 100%;
}

h3 {
    color: teal;
}

img {
    float: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    border-top-style: solid;
    border-color: teal;
    color: white;
    text-align: center;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    height: 50px;
    border-width: thick;
}