body {
    background-color: lightgray;
    width: 960px;
    margin: auto;
}

header {
    background-color: white;
    color black;  
    border: #cccccc;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

h2 {
    color: white;
    background-color: teal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
  }

li {
    float: right;
  } 

.clearfix::after {
    navbar: "";
    clear: both;
    display: table;
  }  

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

section {
    background-color: white;
    padding: 100px 0;
}

h3 {
    float: left;
}

img {
    float: left;
}

p.clear {
    clear: both;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    border-top-style: solid;
    border-color: teal;
    color: white;
    text-align: center;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    height: 60px;
}